{{define "tabler"}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <script type="text/javascript" src="/assets/tabler/js/require.min.js"></script>
    <script type="text/javascript">
      requirejs.config({
          baseUrl: '.'
      });
    </script>
    <!-- Dashboard Core -->
    <link href="/assets/tabler/css/dashboard.css" rel="stylesheet" />
    <script type="text/javascript" src="/assets/tabler/js/dashboard.js"></script>
    <!-- c3.js Charts Plugin -->
    <link href="/assets/tabler/plugins/charts-c3/plugin.css" rel="stylesheet" />
    <script type="text/javascript" src="/assets/tabler/plugins/charts-c3/plugin.js"></script>
    <!-- Google Maps Plugin -->
    <link href="/assets/tabler/plugins/maps-google/plugin.css" rel="stylesheet" />
    <script type="text/javascript" src="/assets/tabler/plugins/maps-google/plugin.js"></script>
    <!-- Input Mask Plugin -->
    <script type="text/javascript" src="/assets/tabler/plugins/input-mask/plugin.js"></script>
{{end}}