{{define "title"}}Meta-View Import{{end}}
{{define "content"}}
  <div class="container">
    <div class="page-header">
      <h1 class="page-title">
        Import Data
      </h1>
    </div>
    <div class="row row-cards">
      <div class="col-12 col-sm-12 col-lg-12">
        <div class="card">
          <div class="card-body p-3">
            <!-- Standar Form -->
            <h4>Import a data dump from your computer</h4>
            <form action="/upload" method="post" enctype="multipart/form-data" id="js-upload-form">
              <div class="form-inline">
                <div class="form-group">
                  <input type="file" name="files[]" id="js-upload-files" multiple>
                </div>
                <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload files</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-lg-12">
        <div class="card">
          <div class="card-body p-3">
            <!-- Drop Zone -->
            <h4>Or drag and drop a data dump below</h4>
            <div class="upload-drop-zone" id="drop-zone">
              Just drag and drop files here
            </div>

            <!-- Progress Bar -->
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                <span class="sr-only">0% Complete</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="javascript" src="./assets/js/dropzone.js"></script>
  <script type="javascript">
    function($) {
      'use strict';

      // UPLOAD CLASS DEFINITION
      // ======================

      var dropZone = document.getElementById('drop-zone');
      var uploadForm = document.getElementById('js-upload-form');

      var startUpload = function(files) {
          console.log(files)
      }

      uploadForm.addEventListener('submit', function(e) {
          var uploadFiles = document.getElementById('js-upload-files').files;
          e.preventDefault()

          startUpload(uploadFiles)
      })

      dropZone.ondrop = function(e) {
          e.preventDefault();
          this.className = 'upload-drop-zone';

          startUpload(e.dataTransfer.files)
      }

      dropZone.ondragover = function() {
          this.className = 'upload-drop-zone drop';
          return false;
      }

      dropZone.ondragleave = function() {
          this.className = 'upload-drop-zone';
          return false;
      }

    }(jQuery);
  </script>
{{end}}
